# Terraform - never commit these
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
.venv/
venv/
.DS_Store
*.env.azure